@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section scripts {
    <script type="text/javascript" src="~/jquery/jquery.js"></script>
    <script type="text/javascript" src="~/js/PeopleAjaxScript.js"></script>
}
@{
    ViewBag.Title = "Ajax";
}
<div>
    <h1>People</h1>
    <button id="load-people-btn">People</button>

    <input type="text" name="id" value="" id="id-input" />

    <button id="details-btn">Details</button>
    <button id="delete-btn">Delete</button>

    <div id="people">

    </div>

    <p id="response"></p>
</div>