<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("styles", false)
    <link href="/css/layoutStyle.css" rel="stylesheet" />
    <link href="/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
   
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @RenderSection("scripts", false)
</body>
</html>
