
@model PeopleViewModel;
@section styles {
    <link href="~/css/peopleViewStyle.css" rel="stylesheet" type="text/css" />
}
@section scripts {
    <script type="text/javascript" src="~/jquery/jquery.js"></script>
    <script type="text/javascript" src="~/js/editScript.js"></script>
} 
@{
    ViewBag.Title = "People";
}

<div class="content">

    <div id="people-table">

        <h2>People</h2>
        <div id="people-header">
            <p class="header">Firstname</p>
            <p class="header">Lastname</p>
            <p class="header">City</p>
            <p class="header">Phonenumber</p>
            <p class="header">SSN</p>
            <p class="header">Action</p>
        </div>
    

        <button id="edit-btn">
            Edit
        </button>

        @foreach (var p in Model.People)
        {


            <div id="person-row">

                <partial name="~/Views/Shared/PersonView.cshtml" model="p"/>

                <partial name="EditPerson" model="p"/>

                <a asp-controller="People" asp-action="RemovePerson" asp-route-id="@p.Id">Remove</a>

            </div>
        }


    </div>

    <div id="forms">
        <div class="form-holder">
            <form id="sort-people" asp-controller="People" asp-action="SortPeople" method="post">

                <div class="input-label">
                    <label for="fields">Sort by:</label>
                    <input class="list-input" list="fields" name="FieldName" id="FieldName">

                    <datalist id="fields">
                        <option value="City" />
                        <option value="FirstName" />
                        <option value="LastName" />
                    </datalist>
                </div>

                <div class="input-label">
                    <label for="Alphabetical">Alphabetical:</label>
                    <input type="checkbox" name="Alphabetical" id="Alphabetical" value="true" checked />
                </div>
                <input class="submit-btn" type="submit" value="Sort" />
            </form>
        </div>
        <div class="form-holder">
            <form id="filter-people" asp-controller="People" asp-action="FilterPeople" method="post">

                <div class="input-label">
                    <label for="fields">Filter by:</label>
                    <input class="list-input" list="fields" asp-for="FieldName" name="FieldName" id="field">
                    <datalist id="fields">
                        <option value="City" />
                        <option value="FirstName" />
                        <option value="LastName" />
                    </datalist>
                </div>

                <div class="input-label">
                    <label for="SearchTerm">Search term:</label>
                    <input type="text" asp-for="SearchTerm" />
                </div>

                <div class="input-label">
                    <label for="CaseSensitive">Case-sensitive:</label>
                    <input type="checkbox" asp-for="CaseSensitive" />
                </div>

                <input class="submit-btn" type="submit" value="Filter" />
            </form>
        </div>
        <div class="form-holder">
            <form id="add-person" asp-controller="People" asp-action="AddPerson" method="post">
                <div class="input-label">
                    <label for="FirstName">Firstname:</label>
                    <input type="text" name="FirstName" value="First name" />
                </div>

                <div class="input-label">
                    <label for="LastName">Lastname:</label>
                    <input type="text" name="LastName" value="Last name" />
                </div>


                <div class="input-label">
                    <label for="CityId">City:</label>
                    <select name="CityId" asp-items="ViewBag.Cities">
                    </select>
                </div>

                <div class="input-label">
                    <label for="LanguageIds">Languages:</label>
                    <select name="LanguageIds" asp-items="ViewBag.Languages" multiple>
                    </select>
                </div>

                <div class="input-label">
                    <label for="PhoneNr">Phonenumber:</label>
                    <input type="text" name="PhoneNr" value="Phone number" />
                </div>

                <div class="input-label">
                    <label for="SocialSecurityNr">Social security number:</label>
                    <input type="text" name="SocialSecurityNr" value="YYMMDDXXXX" />
                </div>

                <input class="submit-btn" type="submit" name="name" value="Create" />
            </form>
        </div>
    </div>

    @if (ViewBag.ErrorMsg != null)
    {
        <h2>@ViewBag.ErrorMsg</h2>
    }

</div>