@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section styles {
    <link href="~/css/citycountrystyle.css" rel="stylesheet" type="text/css" />
}
@model CountriesViewModel
@{
    ViewBag.Title = "Countries";

}
<h2 class="header">Countries</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Cities</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CountryViewModel country in @Model.Countries)
            {
                <partial name="Country" model="@country" />
            }
        </tbody>
    </table>
    <form class="create-form" asp-controller="Countries" asp-action="CreateCountry" method="post">
        <div class="input-label">
            <label for="Name">Name:</label>
            <input type="text" name="name" value="" />
        </div>

        <input class="submit-btn" type="submit" name="submit" value="Create" />
    </form>
